.backgroundArchorPanel {
	-fx-background-color: #35393e;
}

.textStyle {
	-fx-text-fill: #7c8085;
	-fx-font-size: 15px;
	-fx-font-family: Tahoma;
}

.button {
	
	-fx-pref-width: 100px;
	-fx-pref-height: 35px;
	-fx-background-color: #292c2f;
	-fx-text-fill: #7c8085;
	
}

.button:hover {
	-fx-background-color: #ffffff;
	-fx-cursor: hand;
}